<launch>
  <include file="$(find easy_handeye)/launch/calibrate.launch">
    <arg name="eye_on_hand" value="false"/>
    <arg name="namespace_prefix" value="easy_handeye"/>

    <!-- fill in the following parameters according to your robot's published tf frames -->
    <arg name="robot_base_frame" value="ra_base_link"/>
    <arg name="robot_effector_frame" value="ra_flange"/>

    <!-- fill in the following parameters according to your tracking system's published tf frames -->
    <arg name="tracking_base_frame" value="camera_color_optical_frame"/>
    <arg name="tracking_marker_frame" value="marker_6"/>

    <arg name="move_group" value="right_arm"/>

    <!-- Automatic motion parameters -->
    <arg name="freehand_robot_movement" value="false" />
    <arg name="translation_delta_meters" value="0.01" />
    <arg name="rotation_delta_degrees" value="5.0" />
  </include>

  <!-- Explicitly set parameter on param server just in case -->
  <param name="/easy_handeye_eye_on_base/move_group" value="right_arm"/>
  <param name="/easy_handeye_eye_on_base/calibration_mover/move_group" value="right_arm"/>

  <!-- <include file="$(find easy_handeye)/launch/publish.launch">
    <arg name="namespace_prefix" value="easy_handeye"/> 
  </include> -->
</launch>